In [143]:
#!pip3 install mysql-connector-python

In [90]:
import mysql.connector
import pandas as pd

In [91]:
# Connection creation
serverIP            = "localhost"
serverUser          = "root"  
serverUserPwd       = "qazwsx"
database = 'sakila'

In [92]:
def get_database_schema(serverIP, serverUser, serverUserPwd, database) -> pd.DataFrame():
    
    """ Function gets MySQL database schema """
    
    #Connect to server
    con = mysql.connector.connect(
        host=serverIP,
        port=3306,
        user=serverUser,
        password=serverUserPwd,
        db=database
    )
    
    #Get cursor
    cur = con.cursor()
    
    cur.execute("SHOW TABLES") 
    
    #Print all tables avaliable in DB 
    tables = []
    for (table_name,) in cur:
        #print(table_name)
        tables.append(table_name)
        
        
    table_name ,col_names, col_format = [], [], []
    for table in tables:
        cur.execute(f""" SHOW COLUMNS FROM {table};""")  #same as: cur.execute(f""" DESCRIBE {tables}; """)
        result = cur.fetchall()
    
        for i in result:
            col_names.append(i[0])
            col_format.append(i[1])
            table_name.append(table)
    
    df = pd.DataFrame({'table':table_name, 
                   'cols':col_names,
                   'format':col_format})
    
    return df

In [93]:
schema = get_database_schema(serverIP, serverUser, serverUserPwd , 'sakila')

In [94]:
#All tables avaliable in your database
all_tables_list = list(schema['table'].unique())

In [95]:
def extract_schema_str(schema, table):
    """ Extracts the schema in a form of string """
    str_ = ''
    df = schema.loc[schema['table']== table]
    
    idx = 0
    for i,item in df.iterrows():
        if idx == 0:
            str_ += df['table'][i]
            str_ += '('
        idx += 1
        
        str_ += df['cols'][i]
        str_ += ','
    
    str_ = str_[:-1] + ')'
    
    return str_

In [66]:
for table in all_tables_list:
    print(extract_schema_str(schema, table))

actor(actor_id,first_name,last_name,last_update)
actor_info(actor_id,first_name,last_name,film_info)
address(address_id,address,address2,district,city_id,postal_code,phone,location,last_update)
biblioteczka(Id,Tytuł,Data_zakupu,Author)
category(category_id,name,last_update)
city(city_id,city,country_id,last_update)
country(country_id,country,last_update)
customer(customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update)
customer_list(ID,name,address,zip code,phone,city,country,notes,SID)
film(film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update)
film_actor(actor_id,film_id,last_update)
film_category(film_id,category_id,last_update)
film_list(FID,title,description,category,price,length,rating,actors)
film_text(film_id,title,description)
inventory(inventory_id,film_id,store_id,last_update)
kursant(id,name,age,ocena)
language(language_id,name,last_update)
nicer_but_slower_film_list(FID,title,description,category,price,length,rating,actors)
payment(payment_id,customer_id,staff_id,rental_id,amount,payment_date,last_update)
rental(rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update)
sales_by_film_category(category,total_sales)
sales_by_store(store,manager,total_sales)
staff(staff_id,first_name,last_name,address_id,picture,email,store_id,active,username,password,last_update)
staff_list(ID,name,address,zip code,phone,city,country,SID)
store(store_id,manager_staff_id,address_id,last_update)

# Example usage:

In [67]:
example_input = """ A query to list the countries """
database = "sakila"

In [96]:
def merge_userInput_schema(userInput, database) -> str():
    """ Func. to merge user prompt and database schema """
    schema = get_database_schema(serverIP, serverUser, serverUserPwd , database)
    #All tables avaliable in your database
    all_tables_list = list(schema['table'].unique())
    
    
    r_list = []
    for table in all_tables_list:
        r_list.append(extract_schema_str(schema, table))
        
    return print(f'MySQL schema: \n\n', r_list,'\n\n\n','UserInput: ', userInput)

In [104]:
merge_userInput_schema(example_input, 'sakila')

MySQL schema:

 ['actor(actor_id,first_name,last_name,last_update)', 'actor_info(actor_id,first_name,last_name,film_info)', 'address(address_id,address,address2,district,city_id,postal_code,phone,location,last_update)', 'biblioteczka(Id,Tytuł,Data_zakupu,Author)', 'category(category_id,name,last_update)', 'city(city_id,city,country_id,last_update)', 'country(country_id,country,last_update)', 'customer(customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update)', 'customer_list(ID,name,address,zip code,phone,city,country,notes,SID)', 'film(film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update)', 'film_actor(actor_id,film_id,last_update)', 'film_category(film_id,category_id,last_update)', 'film_list(FID,title,description,category,price,length,rating,actors)', 'film_text(film_id,title,description)', 'inventory(inventory_id,film_id,store_id,last_update)', 'kursant(id,name,age,ocena)', 'language(language_id,name,last_update)', 'nicer_but_slower_film_list(FID,title,description,category,price,length,rating,actors)', 'payment(payment_id,customer_id,staff_id,rental_id,amount,payment_date,last_update)', 'rental(rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update)', 'sales_by_film_category(category,total_sales)', 'sales_by_store(store,manager,total_sales)', 'staff(staff_id,first_name,last_name,address_id,picture,email,store_id,active,username,password,last_update)', 'staff_list(ID,name,address,zip code,phone,city,country,SID)', 'store(store_id,manager_staff_id,address_id,last_update)']


 UserInput:   A query to list the countries